<div class="row">
    <h2>Login as</h2>
    <div class="col-6">total {{#couunt}} students</div>
    <div class="col-6">
        <a href="/add_Student" type="button" class="btn btn-primary align-self-center">Add Student</a>
    </div>
</div>

<table class="table table-striped table-responsive">
  <thead class="table-dark">
    <tr>
      <th scope="col">Roll No.</th>
      <th scope="col">Name</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Score</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    
    {{row}}
    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.studentname}}</td>
      <td>{{this.dob}}</td>
      <td>{{this.score}}</td>
      <td>
          <a href="/edit" type="button" class="btn btn-small"><i class="bi bi-pencil">Edit</i></a>
          <a href="/delete" type="button" class="btn btn-small"><i class="bi bi-trash">Delete</i></a>

      </td>
    </tr>
    {{/each}}
    
  </tbody>
</table>